<%= render 'shared/error_messages', {:object => @itinerary}%>

<%= render :partial => 'cart', :locals => {:unpaid_line_items => @itinerary.unpaid_line_items, :itinerary => @itinerary} %>

<h3>Your Submitted Proposal(s)</h3>
<%- if @itinerary.proposals.blank? %>
	<p>You have not submitted any proposals yet.</p>
<%- else %>
	<%= render :partial => 'proposal', :collection => @itinerary.proposals, :locals => {:itinerary => @itinerary} %>
<%- end %>
<br><br>

<h3>Available Events</h3>
<%- if !@itinerary.any_items? %>
	<p>No conference items are currently available.</p>
<%- else %>
	<table id="event_table" class="table-striped">
	<tr><th>Event</th><th>Price</th><th>Action</th></tr>
	<%= render :partial => "paid_line_item", :collection => @itinerary.paid_line_items %>
	<%= render :partial => "available_conference_item", :collection => @itinerary.available_conference_items, :locals => {:itinerary => @itinerary} %>
	</table>
	<p class="label label-info">If you have a discount key enter it below BEFORE adding items to your cart</p>
	<%= form_for @itinerary, :class => 'form-horizontal' do |f| %>
	<div class="control-group">
		<%= f.label :discount_key, :class => 'control-label' %>
		<div class="controls">
			<%= f.text_field :discount_key %>
		</div>
	</div>

	<%= f.submit 'Apply Discount', :class => 'btn btn-info' %>

	<%- end %>
<%- end %>

<br>
