<h1>Personal Information</h1>
<%= simple_form_for @user, :html => {:class => 'contact-form'} do |f| %>
	<%= render :partial => 'shared/error_messages', :locals => {:object => @user} %>
	
	<h3>Full Name</h3>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :prefix %>
	<%= f.input :initial %>
	<%= f.input :suffix %>
	
	<h3>Residency</h3>
	<%= f.association :country %>
	<%= f.input :state %>
	<%= f.input :address %>
	<%= f.input :city %>
	<%= f.label 'Zip'%>
	<%= f.text_field :zip %>
	
	<h3>Other</h3>
	<em>Please include country and area codes e.g. 12223334444</em><br>
	<%= f.label 'Phone number' %>
	<%= f.text_field :phone, class: 'phone_number' %><br>
	<%= f.label 'Fax number' %>
	<%= f.text_field :fax_number, class: 'phone_number' %>
	<%= f.input :email %>
	<%= f.label :student, 'Student?' %>
	<%= f.check_box :student %><em>(Yes)</em><br>
	<%= f.label :member, 'IFTA Member?' %>
	<%= f.check_box :member %><em>(Yes)</em><br>
	<%= f.input :ifta_member_email, label: 'Member Email' %>  
	
	<h3>Emergency Contact Information</h3>
	<%= f.input :emergency_name, :label => 'Contact name' %><br>
    <%= f.input :emergency_relationship, :label => 'Relationship to contact' %><br>
    <%= f.input :emergency_telephone,  :input_html => {class: 'phone_number'}  %><br>
    <%= f.input :emergency_email %><br>
	
	<p>FYI If you would like an invitation letter for visa or funding purposes you MUST pay for the conference first, 
		<br>then <%= link_to 'check out this page', 'http://www.ifta-congress.org/invitation_letter_request.php', target: '_blank' %> to request your invitation.</p> 	
	<%= f.button :submit, :html => {:class => 'btn-primary'} %>
<% end %>

