<h2>Sign in (Returning Users)</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class='login_page'>
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.label :remember_me %><%= f.check_box :remember_me %> </div>
  <% end -%>
  </div>
  <div><%= f.submit "Sign in" %></div>
  <br>
  <%= link_to "Forgot your password?", new_user_password_path %>
  
<% end %>
