<%- content_for :nav do %>
	<%= render :partial => "layouts/admin_nav" %>
<%- end %>
<h1>Add members to the members list</h1>
<%= form_tag add_to_members_list_path, method: :post do %>
	<p>Enter new email addresses (seperated by commas and/or spaces)</p>
	<%= text_area_tag :raw_emails, nil, rows: 8, cols: 80 %><Br>
	<%= submit_tag 'Add Members'%>
<%- end %>
<br><Br>
<h1>Complete Members List</h1>
<%= form_tag complete_members_list_path, method: :post do %>
	<p>Enter all members' emails (seperated by commas and/or spaces).</p>
	<%= text_area_tag :raw_emails, nil, rows: 10, cols: 80 %><br>
	<em>WARNING This action will remove all members not in the above list</em><br>
	<%= submit_tag 'Replace Members List'%>
<%- end %>      
<br>
