<h1>Change Password</h1>
<%= form_for(@user, :url => update_user_password_path(@user)) do |f| %>
	<%= render :partial => 'shared/error_messages', :locals => {:object => @user} %>
	<%= f.label :current_password %> 
	<%= f.password_field :current_password %><br>
	<i>(we need your current password to confirm your changes)</i><br>
	
	<br>
	
	<%= f.label :password, "Password" %>
	<%= f.password_field :password, :autocomplete => "off"  %><br>
	  
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %><br>
	  
	<%= f.submit "Update Password" %>
<% end %>