<h1>Change Password</h1>
<%= form_for(@user, :url => update_user_password_path(@user), :html => {:class => 'form-horizontal'}) do |f| %>
	<%= render :partial => 'shared/error_messages', :locals => {:object => @user} %>
	<i>(we need your current password to confirm your changes)</i><br>
	<div class="control-group">
		<%= f.label :current_password, :class => 'control-label' %>
		<div class="controls">
			<%= f.password_field :current_password %>
		</div>
	</div>

	<div class="control-group">
	<%= f.label :password, "Password", :class => 'control-label' %>
		<div class="controls">
			<%= f.password_field :password, :autocomplete => "off"  %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :password_confirmation, :class => "control-label" %>
		<div class="controls">
			<%= f.password_field :password_confirmation %><br>
		</div>
	</div>

	<%= f.submit "Update Password" %>
<% end %>