<%- content_for :nav do %>
	<%= render :partial => "layouts/admin_nav" %>
<%- end %>

<h2>Search for user</h2>
<em>* Performs partial matches (Mar will match Mary) </em><br>
<em>* blank fields will match anything</em><br><br>
	<%= form_tag users_path, method: 'get', :class => 'form-horizontal' do %>
		<div class="control-group">
			<%= label_tag :email, 'Email', :class => 'control-label' %>
			<div class="controls">
				<%= text_field_tag :email %>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag :first_name, 'First Name', :class => 'control-label' %>
			<div class="controls">
				<%= text_field_tag :first_name %>
			</div>
		</div>
		<div class="control-group">
		<%= label_tag :last_name, 'Last Name', :class => 'control-label' %>
			<div class="controls">
				<%= text_field_tag :last_name %>
			</div>
		</div>
		<br>
		<%= submit_tag :Search, :class => 'btn btn-primary' %>
	<%- end %>

<h2>Matching Users</h2>
<%- if @users.blank? %>
	No matching users
<%- else %>
		<table id='user_search_results' class='table table-striped'>
		<tr>
			<th>User</th>
			<%- @conference_items.each do |item| %>
				<th><%= item.name %></th>
			<%- end %>
		</tr>

		<%- @users.each do |user| %>
		<tr>
			<td><%= user.first_name + " " + user.last_name %><br>
				<%= user.email %><br>
				<%= user.role %><br>
				<%= link_to "Make Reviewer", change_role_user_path(user, :new_role => 'reviewer'), method: :post if user.role == "attendee" %>
				<%= link_to "Make Attendee", change_role_user_path(user, :new_role => 'attendee'), method: :post if user.role == "reviewer" %>
				<br>
				<div class="btn btn-primary">
					<%= link_to "Dashboard", after_sign_in_path_for(user) %>
				</div>
			</td>
			<%- @conference_items.each do |item| %>
				<td>
					<%- if !user.item_comment(item).nil? %>
						<%= user.item_comment(item) %><br>
					<%- end %>
					<%= user.item_status(item) %></td>
			<%- end %>
		</tr>
		<%- end %>
		</table>

	<div class="digg_pagination">
		<%= will_paginate @users %><br><br>
	</div>
<%- end %>