<%= f.hidden_field :country_category, :value => price.country_category %>
<%= f.hidden_field :member, :value => price.member %>

<%- if price.member %>
	<label class='control-label'>Member Cat <%= price.country_category %></label>
<%- else %>
	<label class='control-label'>Non-Member Cat <%= price.country_category %></label>
<%- end %>
$<%= f.text_field :amount%>
<br>
