<%= f.input :country_category, :as => :hidden, :input_html => { :value => price.country_category } %>
<%= f.input :member, :as => :hidden, :input_html => { :value => price.member } %>

<%- if price.member %>
	<span class='label'>Member Cat <%= price.country_category %></span>
<%- else %> 
	<span class='label'>Non-Member Cat <%= price.country_category %></span>
<%- end %>
$<%= f.text_field :amount%>
<br>
