<h1><%= @conference.conference_year %> Conference Settings</h1>
<%= form_for @conference, :html => {:class => 'form-horizontal'} do |f| %>

<%= render :partial => 'shared/error_messages', :locals => {:object => @conference} %>
<div class="control-group">
	<%= f.label :conference_year, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :conference_year %>
	</div>
</div>

<div class="control-group">
	<%= f.label :tax_rate, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :tax_rate %>
	</div>
</div>
<%# TODO set up some templating langauge so that EPs can write email text with user and proposal info %>
<%# f.input :proposal_acceptance_message, :label => "Email text for an accepted proposal", input_html: {rows: 10, cols: 80} %>
<%# f.input :proposal_wait_list_message, :label => "Email text for a wait listed proposal", input_html: {rows: 10, cols: 80} %>
<%# f.input :proposal_rejection_message, :label => "Email text for a rejected proposal", input_html: {rows: 10, cols: 80} %>
<%= f.submit :name => 'Update Conference', :class => 'btn btn-primary' %>
<%- end %>
