<%- content_for :nav do %>
	<%= render :partial => "layouts/admin_nav" %>
<%- end %>
<h1><%= @conference.conference_year %> IFTA Conference</h1>

<h3>Proposals</h3>
Currently there have been <%= @conference.proposal_count %> proposal submissions!
<%= link_to "View proposals", conference_proposals_path(Conference.active) %>

<h3>Registrations</h3>
Currently there have been <%= @conference.registration_count %> conference event registrations!