<%= form_for [@schedule.conference, @schedule], :class => 'form-horizontal' do |f| %>
<%= render :partial => 'shared/error_messages', :locals => {:object => @schedule} %>
<h3>Days</h3>

<%= f.fields_for :days do |builder| %>
	<%= render 'day_fields', f: builder %>
<%- end %>

<%= link_to_add_fields "Add Day", f, :days %><br>

<%= f.submit :class => 'btn btn-primary' %>
<%- end %>