<fieldset>
<div class="control-group">
	<%= f.label :start_time, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :start_time, :class => 'timepicker' %>
	</div>
</div>

<div class="control-group">
	<%= f.label :end_time, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :end_time, :class => 'timepicker' %>
	</div>
</div>

<div class="control-group">
	<%= f.label :code, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :code %>
	</div>
</div>


<%- if f.object.new_record? %>
<div class="control-group">
	<%= f.label :quantity, 'Number of slots to add', :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :quantity %>
	</div>
</div>
<%- end %>
<hr />
</fieldset>
