<%- content_for :nav do %>
	<%= render :partial => "layouts/admin_nav" %>
<%- end %>

<h1><%= @schedule.conference.conference_year %> Conference Schedule</h1>


<div id='schedule_table'>
	<h1>Schedule</h1>
	<%= simple_form_for [@conference, @schedule], :class => 'form-horizontal' do |f| %>
	<%= render :partial => 'shared/error_messages', :locals => {:object => @schedule}%>
		<%= hidden_field_tag :update_proposals, true %>
		<%= f.fields_for :slots, @slots do |g| %>
			<%= render :partial => 'schedules/time_slots', :locals => {:f => g, :schedule_builder => f} %>
		<%- end %>
		<%= f.submit %>
	<%- end %>
</div>
