<span class='payment_option'>
<%= form_for payment, :remote => true do |f| %>
	<%= f.label 'Paid: $'%>
	<%= f.text_field :amount, :size => 5 %><br>
	<%= f.label 'Comments'%>
	<%= f.text_area :comments, :rows => 2, :cols => 20 %><br>
	<%= f.submit 'Update Payment'%>
<%- end %>
</span>
<span class='payment_option'><%= button_to "Delete", payment, method: :delete, :class => 'destroy' %></span>