<span class='payment_option'>
<%= form_for payment, :remote => true do |f| %>
	<div class="control-group">
		<%= f.label :amount, 'Paid: $', :class => 'control-label' %>	
		<%= f.text_field :amount, :size => 5 %><br>
	</div>

	<div class="control-group">
		<%= f.label :comments, 'Comments', :class => 'control-label' %>
		<div class='controls'>
			<%= f.text_area :comments, :rows => 2, :cols => 20 %>
		</div>
	</div>

	<%= f.submit 'Update Payment', :class => 'btn btn-primary' %>
<%- end %>
</span>
<span class='payment_option'><%= button_to "Delete", payment, method: :delete, :class => 'destroy btn btn-danger' %></span>