<div <%- if transaction.paid -%> class='paid'<%- else -%>class='unpaid'<%- end -%>>

<%= transaction.user.first_name + " " + transaction.user.last_name -%><br>
<%- transaction.line_items.each do |line_item| %>
	<%= line_item.conference_item.name %>
	$<%= sprintf "%.2f", line_item.price %><br>
<%- end %>

<strong>Total: $<%= sprintf "%.2f", transaction.post_tax_total %></strong><br>

<%- if transaction.paid -%>
	--------------<br>
	<%= render 'payment_options', :payment => transaction.payment %>
<%- else -%>
		<%= render 'payment', :payment => @payment, :transaction => transaction %>
<%- end -%>

</div>

<hr>