<%- content_for :nav do %>
	<%= render :partial => "layouts/admin_nav" %>
<%- end %>

<h1><%= @conference.conference_year %> Transactions</h1>
<%= form_tag new_payment_path, :method => 'get' do %>
	<%= label_tag :Paid %>
	<%= check_box_tag :paid, 'true', params[:paid]%><br>
	
	<%= label_tag :Unpaid %>
	<%= check_box_tag :unpaid, 'true', params[:unpaid] %><br>
	<br>
	<%= label_tag :first_name %>
	<%= text_field_tag :first_name, params[:first_name] %>
	<br>
	<%= label_tag :last_name %>
	<%= text_field_tag :last_name, params[:last_name] %>
	<br>
	<%= label_tag :email %>
	<%= text_field_tag :email, params[:email] %>
	<Br>
	<%= submit_tag :Search%>
	<br>
<%-end%>

<div class="digg_pagination">
<%= will_paginate @transactions %><br><br>
</div>
<%= render :partial => 'transaction', :collection => @transactions %>
<Br><Br>
