<%- content_for :nav do %>
	<%= render :partial => "layouts/admin_nav" %>
<%- end %>

<h1>Search Transactions</h1>
<%= form_tag new_payment_path, :method => 'get', :class => 'form-horiztontal' do %>

	<%= hidden_field_tag :conference_id, selected_conference.id %>
	
	<%= label_tag :Paid, 'Paid' %>
	<%= check_box_tag :paid, 'true', params[:paid]%>
	
	<%= label_tag :Unpaid, 'Unpaid' %>
	<%= check_box_tag :unpaid, 'true', params[:unpaid] %>
	
	<div class="control-group">
		<%= label_tag :first_name, 'First Name', :class => 'control-label' %>
		<div class='controls'>
			<%= text_field_tag :first_name, params[:first_name] %>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag :last_name, 'Last Name', :class => 'control-label' %>
		<div class="controls">
			<%= text_field_tag :last_name, params[:last_name] %>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag :email, 'Email', :class => 'control-label' %>
		<div class='controls'>
			<%= text_field_tag :email, params[:email] %>
		</div>
	</div>

	<%= submit_tag :Search, :class => 'btn btn-primary' %>
	<br>
<%-end%>

<div class="digg_pagination">
<%= will_paginate @transactions %><br><br>
</div>
<%= render :partial => 'transaction', :collection => @transactions %>
<Br><Br>
