<%= simple_form_for [@itinerary, @proposal], :html => {:class => 'form-horizontal'}  do |f| %>

<%= render :partial => 'shared/error_messages', :locals => {:object => @proposal} %>

<%= f.hidden_field :student %>
<h3>Language</h3>
<p>Workshops will be presented in English, Mandarin or Malay.  Please tell us which languages you speak fluently and would be willing to speak in your workshop.  Check as many as apply.
The Program Committee will make the decision as which language you will present in based on the number and balance of the proposals.  </p>

	<%= f.label :language_english, 'English' %>
	<%= f.check_box :language_english %><br>
	<%= f.label :language_mandarin, 'Mandarin' %>
	<%= f.check_box :language_mandarin %><br>
	<%= f.label :language_malay, 'Malay' %>
	<%= f.check_box :language_malay %><br>
<hr>

<h3>Presentation Format</h3>
	<%= f.radio_button :format, "poster"%> <%= f.label :format_poster, "Poster Display" %>
	<em>(Limit four presenters)</em><br>

	<%= f.radio_button :format, "25min" %> <%= f.label :format_25min, "25 minutes"%>
	<em>(Limit two registered presenters)</em><br>

	<%= f.radio_button :format, "45min" %> <%= f.label :format_45min, "45 minutes"%>
	<em>(Limit to two registered presenters)</em><br>

	<%= f.radio_button :format, "60min" %> <%= f.label :format_60min, "60 minutes "%>
	<em>(Limit to four registered presenters)</em><br>
<hr>

<h3>Category of Information to be presented</h3>
	<%= f.radio_button :category, "clinical"%> <%= f.label :category_clinical, 'Clinical' %><br>
	<%= f.radio_button :category, "research"%> <%= f.label :category_research, 'Research' %><br>
	<%= f.radio_button :category, "theoretical"%> <%= f.label :category_theoretical, 'Theoretical' %><br>
	<%= f.radio_button :category, "training"%> <%= f.label :category_training, 'Training & Supervision' %><br>
	<%= f.radio_button :category, "policy"%> <%= f.label :category_policy, 'Social Policy' %><br>
	<%= f.radio_button :category, "justice"%> <%= f.label :category_justice, 'Social Justice' %><br>
<hr>

<h3>Keyword</h3>
	<%= f.label :keywords, 'Keyword' %>
	<%= f.select :keywords, grouped_options_for_select(keyword_options, @proposal.keywords), {:include_blank => true}%>
<hr>
<h3>Title</h3>
	<%= f.label :title, "Title of Abstract:"%>
	<%= f.text_field  :title %> <br>
	(90 characters max, including spaces)
<hr>
<h3>Short Description (published in Program Guide)</h3>
	<%= f.label "(50 words max)"%>
	<%= f.text_area :short_description, {cols: '60', rows: '6'} %>
<hr>
<h3>Long Description (published in Book of Abstracts)</h3>
	<%= f.label :long_description, "(350 words max)"%>
	<%= f.text_area :long_description, {cols: '60', rows: '20'} %>
<hr>
<h3>Audio Visual Needs</h3>
<strong>Please note that there is no wireless internet in the rooms!</strong><br>
<%= f.input :no_equipment, :label => "No Equipment Needed"%>
<%= f.input :projector, :label => "LCD Projector"%>
<%= f.input :sound, :label => "Sound (to play video)"%>

<br>
Note: Presenters must bring their own laptop

<h3>Presenters</h3>
<%= f.simple_fields_for :presenters do |builder|%>
	<%= render 'presenter_fields', f: builder %>
<% end %>

<%= link_to_add_fields "Add Presenter", f, :presenters %>

<br>

<p>In submitting this abstract, I agree that if this proposal is selected, I and any co-presenters will register for the full Congress within a month of being notified of 'Accepted' Status.<br>
<%= f.label :agree, "I agree" %>
<%= f.check_box :agree %>
</p>
<br>
<%= f.button :submit, :class => 'btn submit' %>

<% end %>