<fieldset class="show-fieldset">
	<%= render :partial => 'shared/error_messages', :locals => {:object => f.object} %>

	<%= f.input :first_name, label: "First name" %>
	<%= f.input :last_name, label: "Last name" %>

	<em>Please include country and area codes e.g. 12223334444</em><br>
	<%= f.label 'Home phone' %><%= f.text_field :home_telephone, class: 'phone_number' %><br>
	<%= f.label 'Work phone' %><%= f.text_field :work_telephone, class: 'phone_number' %><br>
	<%= f.label 'Fax number' %><%= f.text_field :fax_number, class: 'phone_number' %><br>
  <%= f.association :country %>

	<%= f.input :email %>

	<%= f.input :affiliation_name, label: "Affiliation Name", placeholder: "e.g. university, clinic, etc" %>

	<%= f.input :affiliation_position, label: "Affiliation Position " %>

	<%= f.input :highest_degree, label: "Terminal or Highest Degree" %>
	<%= f.input :graduating_institution, label: "Graduating Institution" %>

	<br>
	<%= f.label "What qualifies you to present on this topic" %>
	<br>
	<%= f.text_area :qualifications, rows: 3, cols: 80, placeholder: "e.g., degrees, trainings, certifications with dates" %>

	<br>
	<%= f.label :registered, "Is this person currently registered for the conference? " %>
	<%= f.check_box :registered %><em>(Yes)</em><br>
	<%= f.label :other_presentations, "Is this person currently listed as a presenter on any other proposals? " %>
	<%= f.check_box :other_presentations %><em>(Yes)</em><br>
	<br>
	<p>If you answered yes to the question above and this person is using alternative email addresses please list any additional email addresses below (separated by commas)</p>
	<%= f.input :other_emails %>
	<%= f.hidden_field :_destroy %>
  	<%= link_to "Remove Presenter", "#", :class => "btn btn-danger remove_fields" %>

</fieldset>
