<%- content_for :nav do %>
	<%= render :partial => "layouts/admin_nav" %>
<%- end %>
<h1>Unslotted Accepted Proposals</h1>
<table class="table-striped">
	<tr>
		<th>ID#</th>
		<th>Title</th>
		<th>Presenters</th>
		<th>Format</th>
		<th>AV</th>
		<th>Projector</th>
	</tr>
<%- @proposals.each do |proposal| %>
<tr>
	<td><%= proposal.id %></td>
	<td><%= proposal.title %></td>
	<td>
		<%- proposal.presenters.each do |presenter| %>
			<%= presenter.first_name + " " + presenter.last_name + " " + presenter.email %><br>
		<%- end %>
	</td>
	<td><%= proposal.format %></td>
	<td><%= proposal.sound ? "Yes" : "No" %></td>
	<td><%= proposal.projector ? "Yes" : "No" %></td>
</tr>
<%- end %>
</table>
