<%= form_for [@conference, @discount] do |f| %>
	<%= render :partial => 'shared/error_messages', :locals => {:object => @discount} %>
	<%= f.hidden_field :discount_key, :value => @discount.discount_key %>
	<%= f.label :discount_key %> <%= @discount.discount_key %>
	<%- if f.object.new_record? %>
		<em>Will appear after you create the discount</em>
	<%- end %>
	<br>
	<%= f.label :description %>
	<%= f.text_field :description %><br>
	
	<%= f.fields_for :prices do |price| %>
		<div class='removable'>
			<% item = price.object.conference_item %>
			<div class="control-group">
				<%= price.label :amount, "#{item.name} Price", :class => 'control-label' %>
				<div class="controls">
					<%= price.text_field :amount %>
				</div>
			</div>
			<%= price.hidden_field :conference_item_id, :value => item.id %>
			<%= price.hidden_field :_destroy %>
			<div class="btn btn-danger">
				<%= link_to "Remove discount for this item", "#", {:class => 'remove'} %>
			</div>
			<hr>
		</div>
	<%- end %>
	
	<%= f.submit name: 'Submit', class: 'btn btn-primary' %>
<%- end %>

