<div class='removable'>
  <div class="control-group">
    <%= f.label :amount, "#{price.conference_item.name} Amount" %>
    <div class="controls">
      <%= f.text_field :amount %>
    </div>
  </div>
  <%= f.hidden_field :conference_item_id, :value => price.conference_item.id %>
  <%= f.hidden_field :_destroy %>

  <div class="btn btn-danger">
    <%= link_to "Remove discount for this item", "#", {:class => 'remove'} %>
  </div>
  <hr>
</div>
