<h1>Transaction details for <%= @user.first_name + ' ' + @user.last_name %></h1>
<%- if can? :destroy, @transaction%>
	<%= link_to "Cancel Transaction", itinerary_transaction_path(@transaction.itinerary, @transaction), :confirm => 'Are you sure', :method => :delete %><br /><br >
<%- end %>
<table>
<%- @transaction.line_items.each do |item| %>
	<tr>
		<td><%= item.conference_item.name %></td>
		<td>$<%= sprintf("%.2f", item.price) %></td>
	</tr>
<%- end%>
	<tr>
		<td>Tax</td>
		<td>$<%= sprintf("%.2f", @transaction.tax) %></td>
	</tr>
	<tr>
		<td><strong>Total:</strong></td>
		<td><strong>$<%= sprintf("%.2f", @transaction.post_tax_total) %></strong></td>
	</tr>
</table>

<%- if @transaction.payment_method == 'paypal' %>
	<%= render 'paypal_info' %>
<%- elsif @transaction.payment_method == 'check' %>
	<%= render 'check_info' %>
<%- elsif @transaction.payment_method == 'bank' %>
	<%= render 'bank_info' %>
<%- else %>
	<p>Sorry, we couldn't determine what payment method you wanted to use.</p>
<%- end %>
<br>
<p><strong>Disclaimer</strong>
<em>All best endeavors will be made to present the program as printed on this website. The Congress and its agents reserve the right to alter without prior notice, any of the arrangements, timetables, plans or other items relating to the meeting, for any cause beyond its reasonable control. The Program Committee and the Congress Organizers are not liable for any loss or inconvenience caused as a result of such alteration. In the event of unforeseen circumstances, the Organizing Committee and the Congress Organizers do not accept responsibility for loss of monies caused by delays. Participants are advised to take out personal travel insurance, travel medical travel insurance and to extend their policy to cover personal possessions.
The Congress does not cover individuals against cancellations of bookings or theft or damage to belongings.</em>
</p>