<%- content_for :nav do %>
  <%= render :partial => 'layouts/admin_nav' %>
<%- end %>

<h1>Presenter Proposals</h1>
<%- @presenter_proposals.each do |presenter, new_person| %>
  <%- if new_person %>
    <hr>
    <div><%= presenter.reverse_full_name %></div>
    <div><%= presenter.email %></div>

    <li><%= presenter.proposal.title %></li>
  <%- else %>
    <li><%= presenter.proposal.title %></li>
  <%- end %>
<%- end %>
