<%- content_for :nav do %>
	<%= render :partial => 'layouts/admin_nav' %>
<%- end %>
<h1><%= @conference.conference_year %> Paid Registrations Breakdown</h1>

<%= render :partial => 'reports/conference_item_breakdown' %>

<h3>Transactions by User</h3>
<%- @proposals.each do |proposal| %>
  <b>Member Status</b>: <%= proposal.user.member ? 'Member' : 'Non Member' %><br>
  <b>Last Name</b>: <%= proposal.user.last_name %><br>
  <b>First Name</b>: <%= proposal.user.first_name %><br>
  <b>Email</b>: <%= proposal.user.email %><br>
  <b>Country</b>: <%= proposal.user.country.name %><br>
  <% if @paid_items[proposal.user.id].any? %>
    <h4>Paid Items</h4>
    <ul>
      <% @paid_items[proposal.user.id].each do |name| %>
        <li><%= name %></li>
      <% end %>
    </ul>
  <% else %>
    <h4>Unregistered</h4>
  <% end %>
  <hr>
<%- end %>
