<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    Reports<b class="caret"></b>
  </a>

  <ul class="dropdown-menu">
    <li>
      <%= link_to "Accepted Proposals Registrations", accepted_and_unregistered_report_path(conference) %>
    </li>
    <li>
      <%= link_to "Registration Breakdown", registration_breakdown_report_path(conference) %>
    </li>
    <li>
      <%= link_to "Student Presentations", student_presentations_report_path(conference) %>
    </li>
    <li>
      <%= link_to "Presentations", presentations_report_path(conference, format: 'csv') %>
    </li>
    <li>
      <%= link_to "Presenter Proposals", presenter_proposals_report_path(conference) %>
    </li>
  </ul>
</li>
